Django==4.2.7
django-cms==4.1.0
psycopg2-binary==2.9.9
Pillow==10.1.0
python-decouple==3.8
celery==5.3.4
redis==5.0.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
django-filter==23.4
django-extensions==3.2.3
gunicorn==21.2.0
whitenoise==6.6.0
django-redis==5.4.0
python-dotenv==1.0.0
django-tailwind==3.7.0
dj-database-url==2.1.0
django-ckeditor==6.7.0
django-storages==1.14.4
google-cloud-storage==2.18.2
